In [2]:
from dataloader import Dataloader
data = Dataloader()
# Aproach 1 only listing data 
# Aproach 2 only reviews (Advanced analysis)
# Aproach 3 comninede

# Develop clustering o present vocabulary to express the different dimension (clean, communication checkin, value)
# Use bucket of 0-1 1-2 2-3 3-4 4-5
# 1 model for each dimension 

# Test more cities

In [13]:
conlumns = list(filter(lambda c: 'review' in c , data.getListings().columns))
data.getListings().sample(3)[conlumns]
data.getListings().sample(3)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
354,2981875,https://www.airbnb.com/rooms/2981875,20221205143541,2022-12-05,city scrape,Hotel Not Hotel Amsterdam: Secret Bookcase L,<b>The space</b><br />These are the most hidde...,Traditionally a blue collar neighbourhood just...,https://a0.muscache.com/pictures/miso/Hosting-...,14574533,...,4.75,4.33,4.21,Exempt,t,20,0,20,0,0.43
1552,15213109,https://www.airbnb.com/rooms/15213109,20221205143541,2022-12-05,city scrape,Light & spacious apartment near Jordaan/center,Completely renovated apartment in the trendy a...,This neighbourhood has everything to offer wit...,https://a0.muscache.com/pictures/1d46a251-eea3...,2574458,...,4.91,4.68,4.58,0363 F335 F4F3 9D92 B493,f,1,1,0,0,0.77
1996,19303386,https://www.airbnb.com/rooms/19303386,20221205143541,2022-12-05,previous scrape,Beautiful canal penthouse with roof terrace!,Most beautiful and luxury (but also very cosy)...,NaN,https://a0.muscache.com/pictures/d33e66b8-5e6a...,99355470,...,4.86,4.95,4.81,0363 84B7 46B2 7974 5F12,f,3,3,0,0,0.32

In [3]:
data.getComments().sample(3)

,listing_id,id,date,reviewer_id,reviewer_name,comments
270928,32624969,676594809152110256,2022-07-22,19977724,Monica,"Super location, the rooms were small but cool ..."
154727,11857316,591074816684525017,2022-03-26,59862858,Hannah,"Lovely boathouse in ideal location, convenient..."
255424,29175007,770131479309832777,2022-11-28,35572145,Lahari,We had a wonderful stay at Semira and Jack's. ...

In [4]:
# Comments from listing
listings = data.getListings()[data.getListings()['id'] == 32707589]
filtered_comments = data.getCommentsFromListing(listings)  # or data.getCommentsFromListing(32707589) 
filtered_comments.sample(3)

,listing_id,id,date,reviewer_id,reviewer_name,comments
271630,32707589,511502563,2019-08-17,102573373,ElHoussein,"Great place, great host, amazing location in t..."
271717,32707589,597810083,2020-01-26,29150003,Oliver,"Beautiful apartment in a lovely area, near to ..."
271719,32707589,604090986,2020-02-10,167452385,Oliver,"Amazing location, in the heart of Amsterdam, t..."

In [5]:
# more than 1 listing
listings = data.getListings().sample(3)
filtered_comments = data.getCommentsFromListing(listings) 
filtered_comments.sample(3)

,listing_id,id,date,reviewer_id,reviewer_name,comments
104440,5748017,433363234,2019-04-06,236117358,Pierre-Yves,Perfect place to stay after long walks downtown.
290869,40646054,486054740948133355,2021-11-01,426246824,Eda,We spent 4 nights in the apartment and it was ...
290870,40646054,601908920045880721,2022-04-10,27965338,Moritz,Nice host!

In [13]:
# Single comments 
comments = data.getComments()[data.getComments()['id'] == 466296625]['listing_id']

filtered_listing =  data.getListings()[data.getListings()['id'].isin(comments) ]
#filtered_listing = data.getListingByComments(comments) # or data.getListingByComments(466296625) 
filtered_listing

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
3159,32707589,https://www.airbnb.com/rooms/32707589,20221205143541,2022-12-05,city scrape,Spacious 4p apt at the best location you can get!,Great spacious apartment on the most famous ca...,NaN,https://a0.muscache.com/pictures/7798ffc5-adfa...,245938143,...,4.94,4.95,4.62,0363 6EF3 971C B15C C2FC,t,1,0,1,0,1.47

In [14]:
# More than 1 comment 
comments = data.getComments().sample(3)
filtered_listing = data.getListingByComments(comments) # or data.getListingByComments([id1, id2]) 
filtered_listing.sample(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
6798,775655,https://www.airbnb.com/rooms/775655,20221205143541,2022-12-05,city scrape,the Boathouse bed&bike A'dam centre,<b>The space</b><br />Appartment comprises Roo...,NaN,https://a0.muscache.com/pictures/11535248/433c...,4091515,...,4.76,4.93,4.53,0363 E246 20B0 E608 BF76,t,2,0,2,0,3.49
829,7007415,https://www.airbnb.com/rooms/7007415,20221205143541,2022-12-05,previous scrape,Cosy light apartment @ Amstel River,"Comfortable, well attained and very light apar...","The neighbourhood is near the Amstel, so green...",https://a0.muscache.com/pictures/bc95968d-9545...,3441513,...,5.00,4.68,4.62,0363 A83E 119F AC97 4730,f,1,1,0,0,0.45